h1{
color: white;
    border: 3px solid rgb(0, 0, 255);
    background-color: black;
    padding: 15px;
}
p{
    color: white;
    border: 3px solid blue;
    padding:15px;
}

body{
    background-color: black;
}
h2{
    border: 3px solid blue;
    color: white;
    padding: 15px;
}
iframe{
display: block;
margin:auto;
}